*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}
/* TOP SECTION */

header{
    margin-top: 20px;
    text-align: center;
}

h1{
    color: rgb(229, 49, 112);
}

/* MAIN SECTION */

.containertext{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}


main{
    max-width: 1238px;
    margin: 0 auto;
}



.row{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.row2{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}


.row::after{
    content: '';
    display: table;
    clear: both;
}


.col{
    color: white;
    float: left;
    width: calc(100% / 3);
}

.content{
    line-height: 30px;
    background-color: rgb(15, 14, 23);
    margin-left: 30px;
    height: 111px;
    box-shadow:1px 1px 5px 2px grey;
}

img{
    width: 111px;
    height: 111px;
    float: left;
    margin-right: 20px;
}

.text{
    padding: 10px;
    font-size: 20px;
}

.email{
    color: lightskyblue;
}

.card{
    font-size: 16px;
}